@model IEnumerable<Orphanage.Models.Donation>
	<div class="container">
		<div>
			<h4 class="text-center">A list of Donors <span class="fa fa-heart" style="color:red;"></span></h4>
		</div>
		<table id="table_id" class="table table-bordered table-hover">
			<thead class="thead-dark">
				<tr>
					<th>Name</th>
					<th>Surname</th>
					<th>Email</th>
					<th>Amount</th>
					<th>Donation Peroid Type</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody>
				@foreach (Orphanage.Models.Donation r in Model) {
				<tr>
					<td>@r.name</td>
					<td>@r.surname</td>
					<td>@r.email</td>
					<td>@r.amount</td>
					<td>@r.donate_type</td>
					<td>@r.created_at</td>
				</tr>
				}
			</tbody>
		</table>
	</div>

