@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tafta</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          type="text/css"
          href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm  navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 bg-light" style="background-color: #e3f2fd;">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> <!--<img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">--> Old Age Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item m-3">
                            <div class="dropdown">
                                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Participate <span class="fa fa-handshake"></span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <button class="dropdown-item" type="button">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Donation">
                                            Donate
                                        </a>
                                    </button>
                                    <button class="dropdown-item" type="button">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Volunteer</a>
                                    </button>
                                    <button class="dropdown-item" type="button">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Activities">View Activities</a>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item m-3">
                            <a class="nav-link btn btn-outline-warning" asp-controller="Home" asp-action="Ageing">
                                Ageing
                            </a>
                        </li>
                        <li class="nav-item m-3">
                            <a class="nav-link btn btn-outline-warning" asp-controller="Home" asp-action="About">
                                About Us
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            @if (@HttpContextAccessor.HttpContext.Session.GetString("email") != null || @HttpContextAccessor.HttpContext.Session.GetString("Admin") != null )
                {
                            @HttpContextAccessor.HttpContext.Session.GetString("name")
                            <a href="@Url.Action("Logout","Account")" class="btn btn-warning mr-4">Logout</a>
                }

                        </li>

                        @if (@HttpContextAccessor.HttpContext.Session.GetString("email") == null && @HttpContextAccessor.HttpContext.Session.GetString("Admin") == null)
                {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                        </li>
                }

                        @if (@HttpContextAccessor.HttpContext.Session.GetString("email") == null && @HttpContextAccessor.HttpContext.Session.GetString("Admin") == null)
                {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">User Login</a>
                        </li>
                }
                        @if (@HttpContextAccessor.HttpContext.Session.GetString("email") == null && @HttpContextAccessor.HttpContext.Session.GetString("Admin") == null )
                        {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="AdminLogin">Admin Login</a>
                        </li>
                        }
                        @if (@HttpContextAccessor.HttpContext.Session.GetString("Admin") == "Admin" )
                         {
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Manage
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <button class="dropdown-item" type="button">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="ManageDonations">Manage Donations</a>
                                    </button>

                                    <button class="dropdown-item" type="button">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="ManageVolunteers">Manage Volunteers</a>
                                    </button>

                                    <button class="dropdown-item" type="button">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AddEvent">Add Events</a>
                                    </button>
                                </div>
                            </div>
                        </li>
                           }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Tafta
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript"
            charset="utf8"
            src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <script>
        $(function () {
            $("#table_id").dataTable();
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
